<div class="row">
  <div class="col-12">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Recipe Name </h5>
          <p class="card-text">asdasd</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-info mr-2">    To Shopping List </button>
          <button class="btn btn-warning mr-2"> Edit Recipe </button>
          <button class="btn btn-danger mr-2">  Delete Recipe </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredient
  </div>
</div>
